body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

div {
  margin-left: 1px;
  margin-top: 2px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid black; /* 1px solid #999 => Linha mais clara */
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

button.square[data-pro="X"] {
  color: #FF0000;
}

button.square[data-pro="O"] {
  color: #008000;
}

.square-wining {
  background-color: #FFE4C4;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.small-status {
  width: 250px;
  height: 20px;
}

.small-json {
  width: 150px;
  height: 40px;
}

.medium-move {
  width: 280px;
  height: 35px;
}

.medium-history {
  width: 270px;
  height: 35px;
}
